body, html, #root, .App
  height: 100%
body
  background: linear-gradient(180deg, rgba(217,0,18,1) 0%, rgba(0,51,160,1) 50%, rgba(242,168,0,1) 100%)


.App
  padding: 0 15px
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  .Center
    background-color: #e5e5e5
    width: 800px
    border-radius: 15px
    padding: 15px

    .Question
      margin: 2rem 0
      font-size:  172px





.AnswersRow
  display: flex
  flex-direction: row
  width: 100%
  //margin: 20p

.Button
  padding: 0.375em 0.7rem
  border-radius: 10px
  border: 2px solid #394a8f
  background-color: #394a8f
  color: white
  font-size: 32px
  margin: 0 10px

  cursor: pointer

  flex: 1 1 auto

  &.correct
    border: 2px solid green
    background-color: green
  &.wrong
    border: 2px solid #940505
    background-color: #940505
